<!-- Default form login -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Patient</p>


  <input type="text" id="firstName" class="form-control mb-4" placeholder="First Name">
  <input type="text" id="lastName" class="form-control mb-4" placeholder="Last Name">
  <select id="gender" class="form-control mb-4" placeholder="Gender">
    <option value="None">Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  <input type="text" id="birthDate" class="form-control mb-4" placeholder="BirthDate">"
  <input type="text" id="ssid" class="form-control mb-4" placeholder="Social Security Number">
  <input type="text" id="ssid" class="form-control mb-4" placeholder="Driver License Number">



  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Subbmit</button>



</form>
<!-- Default form login -->
